<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>预约挂号列表</string>
			<key>action</key>
			<string>makeAppointment</string>
			<key>vcClassName</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>名医通申请</string>
			<key>action</key>
			<string>famousDoctors</string>
			<key>vcClassName</key>
			<string>FHFamousDoctorsTC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>病例管理</string>
			<key>action</key>
			<string>caseManagement</string>
			<key>vcClassName</key>
			<string>FHCaseManageVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>action</key>
			<string>myCollection</string>
			<key>vcClassName</key>
			<string>FHMyCollectionTC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>支付明细</string>
			<key>action</key>
			<string>paymentDetails</string>
			<key>vcClassName</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>设置与帮助</string>
			<key>action</key>
			<string>settingsAndHelp</string>
			<key>vcClassName</key>
			<string>FHSettingsAndHelp</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于产品</string>
			<key>action</key>
			<string>aboutProduct</string>
			<key>vcClassName</key>
			<string>FHViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>分享好友</string>
			<key>action</key>
			<string>shareFriends</string>
			<key>vcClassName</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
